body {
  font-family: Arial;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  font-weight: bold;
}

form {
padding-left: 41%;
}

form label {
  font-weight: bold;
}

textarea {
  width: 320px;
  height: 120px;
  font-family: Arial;
  font-size: 14px;
}

.tiedot input {
  width: 320px;
}

@media only screen and (max-width: 1700px) {
  h1 {
    text-align: left;
  }
  form {
    padding-left: 10px;
  }
}
